<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<h1>Mostrando Cliente</h1>

<p>
  <strong>Nome</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Email</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Telefone</strong>
  <%= @customer.phone %>
</p>
